
{% extends 'layout.html' %}

{% block main %}

<div id="main_content" class="container-fluid">

    <div class="row">

        <div class="col-sm-12 user-data">
            <div class="col-sm-12 user-name">
                <h2>{{ user_data['name'] }}</h2>
            </div>
            <div class="col-sm-12 user-display-name">
                <h5>@{{ user_data['display_name'] }}</h5>
            </div>

            <button data-view="room" id="create_room_button" class="btn-primary view_control">Create Room</button>
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- here will be the chat rooms list -->
            <!-- it will be displayed as an html table -->
            <div id="chatroom-list" class="row">
                <div id="chatroom-header" class="col-sm-12" style="padding: 0;">
                    <h2>rooms list</h2>
                </div>
                <table class='col-sm-12'>
                    <!-- i will make the whole td clickable by using data- attribute and perform some event listener -->
                    <tbody id="rooms">
                        {% for room in rooms %}
                            <th>
                                <i data-name="{{ room }}" class="fas fa-question-circle info_mark"></i>
                            </th>
                            <tr data-name="{{ room }}" class="room">
                                <td>
                                    {{ room }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8 col-sm-6">
            <!-- here will be the selected room to view -->
            <div id="active-room" class="row">
                <div id="active-room-header" class="col-sm-12">
                    <h2>active room titles</h2>
                </div>
                <div id="messages" class="col-sm-12">
                    <div class="no-selected-room">
                        <div class="no-selected-room-symb">
                            <img src="{{ url_for('static', filename='img/command-button.png') }}" alt="" class="src">
                        </div>    
                        Select a Room to start Chatting!
                    </div>
                </div>
                <div id="type-message" class="input-group mb-3">
                    <input id="message-to-send" type="text" class="form-control" placeholder="type a messge here!" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button id="send-button" class="btn btn-outline-warning" type="button">Send!</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<!-- this is the pop up form which will allow us to create a room -->


<div id="room_form" class="bg-modal">
	<div class="modal-contents">

        <div data-close="room" class="close">+</div>
        
        <div  class="app-logo-form"><span>Create a Channel!</span></div>

        <form id="create_room_form" action="/make-a-room" method='POST'>
            <input class="form" id='room_name' name="name" type="text" placeholder="Room Name" required autofocus>
            <input class="form" id="room_description" name="description" type="text" placeholder="What For?" required>
            <input class="form" id="room_tag" name="tag" type="text" placeholder="Tag" required>
            
            <button type="submit" class='btn-primary'>Create Room</button>
            
        </form>
        
        <div style="background-color:rgb(218, 105, 105); border-radius:3px ; opacity: 0.6; margin-top: 30px;">
            <h4 id="room_error">

            </h4>
        </div>
	</div>
</div>

<div id="room_data" class="bg-modal">
    <div class="modal-contents">

        <div data-close="room-data" class="close">+</div>
        <!-- here will be some text areas for the veiw -->

        <div class="card border-warning mb-3"
        style="
        max-width: 18rem;
        margin: 15px auto;
        margin-top: 50px;
        display: block;
        width: 100%;
        padding: 8px;
        ">
            <div id="room_tag_fill" class="card-header bg-transparent border-warning"></div>
            <div class="card-body text-warning">
              <h5 id="room_name_fill" class="card-title"></h5>
              <p id="room_description_fill" class="card-text"></p>
            </div>
            <div id="room_user_fill" class="card-footer bg-transparent border-warning"></div>
          </div>

    </div>
</div>


{% endblock %}

